/target/
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_1_4_20.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_20.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_4_20.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_4_20.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_0_M1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_0_M1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_0_M1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_0_M1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_0_M1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_0_M1.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/modules.xml
/TDDExercises.iml
/.idea/vcs.xml
